@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Josh Comeau's CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Colors and Fonts */

:root {
  /* ### Primary */

  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);

  /* Instagram Linear gradient */

  --Instagram1: hsl(37, 97%, 70%);
  --Instagram2: hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* Light Theme Neutral */

  --White: hsl(0, 0%, 100%); /* BG */
  --Very-Pale-Blue: hsl(225, 100%, 98%); /* Top BG Pattern */
  --Light-Grayish-Blue: hsl(227, 47%, 96%); /* Card BG */
  --Dark-Grayish-Blue: hsl(228, 12%, 44%); /* Text */
  --Very-Dark-Blue: hsl(230, 17%, 14%); /* Text */

  /* Light Theme toggle */

  --Toggle-Light: hsl(230, 22%, 74%);

  /* Dark Theme Neutral */

  --Very-Dark-Blue: hsl(230, 17%, 14%); /* BG */
  --Very-Dark-Blue: hsl(232, 19%, 15%); /* Top BG Pattern */
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%); /* Card BG */
  --Desaturated-Blue: hsl(228, 34%, 66%); /* Text */
  --White: hsl(0, 0%, 100%); /* Text */

  --ff-regular: "Inter", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* Toggle Switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Lime-Green);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: 3px;
  left: 4px;
  bottom: 4px;
  background-color: var(--Very-Dark-Blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--Toggle-Light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
  background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* General Settings Light Theme */

body {
  font-family: var(--ff-regular);
  font-size: 0.9375rem;
  background-color: var(--Very-Pale-Blue);
  text-align: center;
}

.card {
  padding: 2.5rem 1.75rem;
}

.card__headings {
  text-align: left;
  color: var(--Dark-Grayish-Blue);
  font-weight: var(--fw-bold);
}

.card__headings h1 {
  color: var(--Very-Dark-Blue);
}

.card__headings p {
  border-bottom: 1px solid var(--Dark-Grayish-Blue);
  padding-bottom: 1.125rem;
}

.toggle {
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__stats {
  background-color: var(--Light-Grayish-Blue);
  display: grid;
  margin-bottom: 1.5rem;
  padding: 2rem 0 1.25rem 0;
  color: var(--Dark-Grayish-Blue);
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.main__stats::before {
  content: "";
  width: 100%;
  height: 0.25rem;
  position: absolute;
  top: 0;
  display: inline-block;
}

.main__stats:nth-child(1)::before {
  background-color: var(--Facebook);
}

.main__stats:nth-child(2)::before {
  background-color: var(--Twitter);
}

.main__stats:nth-child(3)::before {
  background-image: linear-gradient(
    to right,
    var(--Instagram1),
    var(--Instagram2)
  );
}

.main__stats:nth-child(4)::before {
  background-color: var(--YouTube);
}

.profile {
  font-weight: var(--fw-bold);
  font-size: 0.75rem;
}

.stats__number {
  font-size: 3.5rem;
  color: var(--Very-Dark-Blue);
  font-weight: var(--fw-bold);
}

.stats__members {
  margin-top: -0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

.stats__change {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
}

.increase {
  color: var(--Lime-Green);
}

.decrease {
  color: var(--Bright-Red);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6875rem;
}

.profile::before,
.overview__stats::after {
  content: "";
  width: 20px;
  height: 20px;
  background: no-repeat center center/cover;
  display: inline-block;
}

.profile::before {
  margin-right: 0.625rem;
}

.facebook::before,
.main__overview > .facebook::after {
  background-image: url(../images/icon-facebook.svg);
}

.twitter::before,
.main__overview > .twitter::after {
  background-image: url(../images/icon-twitter.svg);
}

.instagram::before,
.main__overview > .instagram::after {
  background-image: url(../images/icon-instagram.svg);
}

.youtube::before,
.main__overview > .youtube::after {
  background-image: url(../images/icon-youtube.svg);
}

.stats__change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}

.stats__change::before,
.overview__change::before {
  content: "";
  width: 0.375rem;
  height: 0.25rem;
  background: no-repeat center center/cover;
  display: inline-block;
}

.increase::before {
  background-image: url(../images/icon-up.svg);
}

.decrease::before {
  background-image: url(../images/icon-down.svg);
}

#secondaryHeading {
  color: var(--Dark-Grayish-Blue);
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}

.main__overview {
  background-color: var(--Light-Grayish-Blue);
  display: grid;
  grid-template-areas:
    "one one"
    "two three";
  row-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem;
}

.overview__stats {
  grid-area: one;
  display: flex;
  justify-content: space-between;
  color: var(--Dark-Grayish-Blue);
  font-weight: var(--fw-bold);
}

/* I used a line height equal to the font-size so that the span element containing the number would have the same height as the number itself, allowing it to be positioned correcly using the place-self command */

.overview__number {
  line-height: 2rem;
  grid-area: two;
  place-self: end start;
  color: var(--Very-Dark-Blue);
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.overview__change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  grid-area: three;
  place-self: end end;
  font-weight: var(--fw-bold);
  font-size: 0.75rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media query for tablets */

@media screen and (min-width: 37.5em) {
  .card__headings h1 {
    grid-area: one;
    font-size: 1.75rem;
  }

  .card__headings p {
    border-bottom: unset;
    grid-area: two;
  }

  .toggle {
    grid-area: three;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .card__headings {
    display: grid;
    grid-template-areas:
      "one three"
      "two three";
  }

  .card__general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .card__overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/* Media query for desktops */

@media screen and (min-width:70em) {
  .card {
    padding: 2.5rem 8.5rem;
  }

  #secondaryHeading {
    margin-top: 1rem;
  }

  .card__headings {
    margin-bottom: 1.125rem;
  }

  .card__general, .card__overview {
    grid-template-columns: repeat(4,1fr);
  }
}
